<h1 class="header">Find Bacon Nearby! (Boston/Austin only)</h1>
<br>

<ul id="dishes"></ul>

<%= form_tag dishes_path, format: :json, method: :get, remote: true, id: :dishes_form do %>
  <%= hidden_field_tag :lat %>
  <%= hidden_field_tag :lng %>
<% end %>
